USE [PayrollDW]
GO
/****** Object:  Table [dbo].[DimPosition]    Script Date: 07/01/2026 17:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPosition](
	[PositionKey] [int] IDENTITY(1,1) NOT NULL,
	[PositionID] [int] NOT NULL,
	[PositionName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimPosition] ON 

INSERT [dbo].[DimPosition] ([PositionKey], [PositionID], [PositionName]) VALUES (1, 1, N'Manager')
INSERT [dbo].[DimPosition] ([PositionKey], [PositionID], [PositionName]) VALUES (2, 2, N'Accountant')
INSERT [dbo].[DimPosition] ([PositionKey], [PositionID], [PositionName]) VALUES (3, 3, N'Developer')
SET IDENTITY_INSERT [dbo].[DimPosition] OFF
GO
