USE [PayrollDW]
GO
/****** Object:  Table [dbo].[DimDepartment]    Script Date: 07/01/2026 17:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDepartment](
	[DepartmentKey] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimDepartment] ON 

INSERT [dbo].[DimDepartment] ([DepartmentKey], [DepartmentID], [DepartmentName]) VALUES (1, 1, N'HR')
INSERT [dbo].[DimDepartment] ([DepartmentKey], [DepartmentID], [DepartmentName]) VALUES (2, 2, N'Finance')
INSERT [dbo].[DimDepartment] ([DepartmentKey], [DepartmentID], [DepartmentName]) VALUES (3, 3, N'IT')
SET IDENTITY_INSERT [dbo].[DimDepartment] OFF
GO
